<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <center>
        <div class="menu">
            <a class="menu-item" href='/'>Home</a>
            <a class="menu-item" href='/authors'>Authors</a>
            <a class="menu-item" href='/books'>Books</a>
        </div>
        {% block body %}{% endblock %}
    </center>
</body>
</html>